<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <%- include('../partials/head') %>
    <%- include('../partials/navbar') %>
    <div class="jumbotron m-4">
        <h2 class="text-center">Index Page</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quod enim sit laborum dolores magni ipsam id adipisci unde sint distinctio officia deleniti, aspernatur soluta ad quidem corporis possimus accusantium.
        Ad iste deleniti doloremque aut unde ipsa animi enim libero beatae quibusdam reiciendis, sit praesentium ab iure totam harum illum tempore. Totam fugit reprehenderit voluptatibus molestias assumenda ratione architecto? Inventore.
        Voluptatem adipisci veniam perspiciatis quasi quae magni consequuntur at vitae consectetur quas recusandae qui asperiores totam, officia impedit, soluta quo beatae similique error? Pariatur labore sapiente totam fugiat illo tempora!
        Ullam in, natus, praesentium aliquid nulla eius voluptas quasi error delectus ipsa ducimus debitis aliquam. Eaque eos iusto sint, asperiores reiciendis nam officia dolores ex distinctio. Ducimus reprehenderit iure vero.
        Numquam qui perspiciatis pariatur, doloribus assumenda laboriosam maiores repellat ipsa, ratione, asperiores magnam distinctio culpa a commodi ab aspernatur recusandae soluta quibusdam sint ipsam adipisci! Commodi debitis eveniet nihil quasi.
        Error cumque earum vero temporibus perferendis laudantium numquam perspiciatis fugiat iusto atque veniam, maxime dignissimos doloribus possimus iure quis animi, incidunt aliquam expedita. Soluta perferendis quo error adipisci iste consectetur?
        Neque, sequi explicabo. Dolorem, animi ex. Magni, ratione! Reiciendis, veniam numquam. Commodi quod distinctio id asperiores nulla reiciendis, totam quas eligendi quae a voluptas officia at quis obcaecati debitis praesentium.</p>
        <a class="btn btn-info mx-center justify-content-between " href="/upload">Upload Image</a>
    </div>

</body>
</html>